:root {
  --onfocus: #258cfb;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem var(--onfocus);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-button-disable {
  pointer-events: none;
  opacity: 0.6;
  cursor: default;
}

.header-img {
  text-align: center;
}

.header-img img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.zoom-effect {
  transition: transform 0.2s;
}

.zoom-effect:hover,
.zoom-effect:active {
  transform: scale(1.1);
}

a {
  color: #e4f1fe;
  text-decoration: none !important;
}

a:hover,
a:active {
  color: var(--onfocus);
}

.theme-dark object {
  filter: invert(90%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.svg-person {
  background-image: url(../img/person.svg);
}

.svg-item {
  background-image: url(../img/item.svg);
}

.svg-proposal {
  background-image: url(../img/proposal.svg);
}

.svg-proposal-history {
  background-image: url(../img/proposalHistory.svg);
}

.svg-catalog {
  background-image: url(../img/catalog.svg);
}

.svg-configuration {
  background-image: url(../img/configuration.svg);
}

.svg-whatsapp {
  background-image: url(../img/whatsapp.svg);
}

.svg-printer {
  background-image: url(../img/printer.svg);
}

.svg-sun {
  background-image: url(../img/sun.svg);
}
.svg-moon {
  background-image: url(../img/moon.svg);
}
