@model ItemModel

@{
    ViewData["Title"] = "Update - " + Model.ItemName;
}

<div class="col-md-7 col-lg-8">
    <form method="post" asp-action="Update" asp-controller="Item" class="needs-validation" enctype="multipart/form-data">
        <div class="row g-3">
            @Html.HiddenFor(m => m.ItemId)

            <div class="col-sm-6">
                <label asp-for="ItemName" class="form-label"></label>
                <input asp-for="ItemName" class="form-control" placeholder="" required>
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>

            <div class="col-sm-6">
                <label asp-for="Value" class="form-label"></label>
                <input asp-for="Value" class="form-control" placeholder="" required>
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>

            <div class="col-sm-6">
                <label asp-for="ImageFiles" class="form-label"></label>
                <input id="upload" asp-for="ImageFiles" accept="image/*" placeholder="">
                <span asp-validation-for="ImageFiles" class="text-danger"></span>
            </div>

            <div class="row g-3" id="images__client">
                @foreach (var image in Model.ItemImageList)
                {
                    <span class="col-6 col-md-4">
                        @*If changed, remember to change the creation of the span in uploadImageUtils.js*@
                        <a asp-controller="Item" asp-action="DeleteImage" asp-route-id="@image.ItemImageId"
                           onmouseover="this.style.opacity = '1'"
                           onmouseout="this.style.opacity = '0.75'"
                           class="close position-absolute translate-middle badge border border-light rounded-circle bg-danger p-2 opacity-75 text-decoration-none"
                           aria-label="Close">

                            <span aria-hidden="true">&times;</span>
                        </a>

                        <img src="data:image/*;base64,@(Convert.ToBase64String(image.ImageFile))" alt="ItemName + ' ' + image.FileName" width="@Const.MAX_IMAGE_WIDTH + 'px'" height="@Const.MAX_IMAGE_HEIGHT + 'px'" />
                    </span>
                }
            </div>
        </div>

        <hr class="my-4">

        <div class="form-group">
            <input class="w-100 btn btn-primary btn-lg" type="submit" value="Save" />
            <a class="w-100 btn btn-secondary btn-lg" asp-action="index">Cancel</a>
        </div>

    </form>
</div>
